/* Yes. I wrote a flat css file for this. */
/* Honestly, I haven't written code in years. I can't believe I remembered how to do this. */

@import url('https://fonts.googleapis.com/css?family=Poiret+One');


* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	hight: 100%;
	width: 100%;
	margin: 0;
}

html {
	padding: 0;
	color: #efefef;
	background: #111;
	text-align: center;
	font-family: 'Poiret One', cursive;
}

body {
	height: 100%;
	padding: 40px 20px;
	border: 2px solid rgba(255,255,255, 0.1);
}

h1 {
	text-align: center;
}

h2 {
	margin: 2em auto;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

iframe {
	max-width: 600px;
	margin-top: 2em;
}

.rsvp {
	color: white;
	border: 1px solid white;
	display: inline-block;
	margin: 0 auto;
	padding: .5em 3em;
}

.rsvp:hover {
	text-decoration: none;
}

.corner {
	position: fixed;
	max-height: 45%;
	max-width: 50%;
	opacity: 0.08;
}

.corner:first-of-type { 
	top: 0;
	left: 0;
}

.corner:nth-of-type(2) {
	top: 0;
	right: 0;
	transform: rotateY(180deg);
}

.corner:nth-of-type(3) {
	bottom: 0;
	left: 0;
	transform: rotateX(180deg);
}

.corner:nth-of-type(4) {
	bottom: 0;
	right: 0;
	transform: rotateY(180deg) rotateX(180deg);
}
